/*========== SOCIAL MEDIA ICONS ==========*/
.icons {
    display: flex;
    column-gap: 1.5625rem;
    background-color: #ece7d5;
    margin: 0;
    padding: 1.25rem;
    list-style-type: none;
}

.icon {
    display: inline-flex;
    width: 3.75rem;
    height: 3.75rem;
    text-decoration: none;
    font-size: 1.625rem;
    color: #fff;
    border-radius: 50%;
    outline: .125rem solid #fff;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: 0.25s;
}

.icon:hover {
    outline-offset: .25rem;
}

.icon i {
    margin: auto;
}

.icon:hover i {
    animation: shake 0.25s;
}

.icon--instagram:hover {
    background-image: radial-gradient(circle at 30% 107%,
            #fdf497 0%,
            #fdf497 5%,
            #fd5949 45%,
            #d6249f 60%,
            #285aeb 90%);
    outline-color: #a02d76;
}

.icon--linkedin:hover {
    background-color: #0077b5;
    outline-color: #0077b5;
}

.icon--github:hover {
    background-color: #000;
    outline-color: #000;
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }
}