/* Responsividade media query */
/*======= 1200px =======*/
@media (max-width: 1200px) {
    section.module.parallax h1 {
        font-size: 3.75rem;
        font-weight: 700;
    }

    section.module.content h4 {
        font-size: .9375rem;
    }

    div.btn-whatsapp img {
        width: 4.375rem;
    }

    .lista li {
        line-height: 1.5;
    }
}

/*======= 1024px =======*/
@media (max-width: 1024px) {
    div#carousel {
        margin-top: 12.5rem;
    }

    div#carousel-1 {
        margin-top: 12.5rem;
    }

    div.buttons {
        margin-bottom: 3.125rem;
    }

    button.scrollTop {
        width: 55px;
        height: 55px;
    }
}

/*======= 768px =======*/
@media (max-width: 768px) {
    div#carousel img {
        max-width: 31.25rem;
    }

    div#carousel-1 img {
        max-width: 31.25rem;
    }

    .lista li {
        margin-bottom: 0.5rem;
    }
}

/*======= 480px =======*/
@media (max-width: 480px) {
    section.module.parallax h1 {
        font-size: 3.125rem;
    }

    section.module h2 {
        font-size: 1.375rem;
    }

    section.module h4 {
        font-size: .875rem;
    }

    div#carousel {
        margin: 1.25rem;
        margin-top: 6.25rem;
    }

    div#carousel-1 {
        margin: 1.25rem;
        margin-top: 6.25rem;
    }

    div#carousel img {
        margin-top: 3.125rem;
        max-width: 18.75rem;
        width: auto;
        height: 15.625rem;
    }

    div#carousel-1 img {
        margin-top: 3.125rem;
        max-width: 18.75rem;
        width: auto;
        height: 15.625rem;
    }

    div.btn-whatsapp img {
        width: 3.125rem;
    }

    .lista li {
        margin-bottom: 0.8rem;
    }
}

/*======= 320px =======*/
@media (max-width: 320px) {
    section.module.parallax h1 {
        font-size: 1.875rem;
    }

    section.module h2 {
        font-size: 1.375rem;
    }

    section.module.content h4 {
        font-size: .875rem;
    }

    div#carousel {
        margin-top: 9.375rem;
    }

    div#carousel-1 {
        margin-top: 9.375rem;
    }

    div#carousel img {
        margin-top: 3.125rem;
        max-width: 15.625rem;
    }

    div#carousel-1 img {
        margin-top: 3.125rem;
        max-width: 15.625rem;
    }

    div.btn-whatsapp img {
        width: 2.5rem;
    }

    button.scrollTop {
        width: 45px;
        height: 45px;
    }

    .lista li {
        font-size: small;
    }
}

/*======= 280px =======*/
@media (max-width: 280px) {
    section.module h2 {
        font-size: 1.25rem;
    }

    section.module.content h4 {
        font-size: .75rem;
    }

    div#carousel {
        margin-top: 9.375rem;
    }

    div#carousel-1 {
        margin-top: 9.375rem;
    }

    div#carousel img {
        margin-top: 3.125rem;
        max-width: 13.75rem;
    }

    div#carousel-1 img {
        margin-top: 3.125rem;
        max-width: 13.75rem;
    }

    div.btn-whatsapp img {
        width: 2.1875rem;
    }

    button.scrollTop {
        width: 40px;
        height: 40px;
    }

    .lista li {
        font-size: x-small;
    }
}