/* Scroll Top */
.scrollTop {
    outline: none;
    border: 0;
    background-color: var(--bg-primary, #ece7d5);
    width: 60px;
    height: 60px;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 30px;
    bottom: 30px;
    box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    z-index: 999;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease;
}

.scrollTop img {
    width: 20px;
    height: 20px;
}

.scrollTop.active {
    opacity: 1;
    visibility: visible;
}