* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  color: #242424;
  font-family: sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  color: #000;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

main {
  display: block;
  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 47.5rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

section.module h4 {
  margin-bottom: 2.5rem;
}

section.module:last-child {
  margin-bottom: 0;
}

section.module h2 {
  margin-bottom: 2.5rem;
  font-size: 1.875rem;
}

section.module.content {
  padding: 2.5rem 0;
  background: #ece7d5;
}

section.module.parallax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh !important;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  background-attachment: fixed;

  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

section.module.parallax:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 8;
  background: -moz-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 40%,
    #000 100%
  );
  background: -webkit-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 40%,
    #000 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 40%,
    #000 100%
  );
}

section.module.parallax-1 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Pillars_of_Creation_%28NIRCam_Image%29.jpg/640px-Pillars_of_Creation_%28NIRCam_Image%29.jpg");
}

section.module.parallax-2 {
  background-image: url("https://www.10wallpaper.com/wallpaper/medium/1205/falling_stars_night-Natural_scenery_wallpaper_medium.jpg");
}

section.module.parallax-3 {
  background-image: url("https://img.freepik.com/fotos-premium/maravilhoso-fundo-de-paisagem-natural_691560-237.jpg");
}

section.module.parallax-4 {
  background-image: url("https://c.wallhere.com/photos/09/8d/blue_sunset_sky_cloud_sun_france_green_nature-854248.jpg!d");
}

section.module.parallax-5 {
  background-image: url("https://images.unsplash.com/photo-1625102134731-563be2f7f55b?q=80&w=1886&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

section.module.parallax-6 {
  background-image: url("https://img.freepik.com/fotos-premium/vista-de-baixo-angulo-da-silhueta-da-grama-contra-o-ceu-laranja-durante-o-por-do-sol_1048944-5371448.jpg");
}

section.module.parallax h1 {
  color: #fff;
  text-align: center;
  font-size: 4.875rem;
  z-index: 50;
}

div.badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.badges img {
  width: 40%;
  margin: 1%;
  padding: 0.3%;
  border-radius: .625rem;
}

/* ========== CARDS ========== */
.wrap {
  display: inline-block;
  justify-content: space-around;
  flex-wrap: wrap;
  cursor: pointer;
}

.card {
  height: 18.75rem;
  width: 21.875rem;
  position: relative;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 1em;
  overflow: hidden;
  margin-left: 4.6875rem;
  margin-top: 1.5625rem;
}

/*Image*/
.card-image {
  height: 55%;
  width: 100%;
  position: absolute;
  top: 0;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  object-fit: cover;
}

/*Description */
.card-description {
  display: flex;
  gap: 1em;
  flex-direction: column;
  background-color: #f5f5f5;
  height: 50%;
  position: absolute;
  bottom: 0;
  border-radius: 1em 1em 0 0;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 1rem;
}

/*Text*/
.text-title {
  font-size: 1.4em;
  font-weight: 700;
}

.text-body {
  font-size: 1em;
}

/* Hover states */
.card:hover .card-description {
  transform: translateY(100%);
}

.card:hover .card-image {
  height: 100%;
}

/*========== SOCIAL MEDIA ICONS ==========*/
.icons {
  display: flex;
  column-gap: 1.5625rem;
  background-color: #ece7d5;
  margin: 0;
  padding: 1.25rem;
  list-style-type: none;
}
.icon {
  display: inline-flex;
  width: 3.75rem;
  height: 3.75rem;
  text-decoration: none;
  font-size: 1.625rem;
  color: #fff;
  border-radius: 50%;
  outline: .125rem solid #fff;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
}
.icon:hover {
  outline-offset: .25rem;
}
.icon i {
  margin: auto;
}
.icon:hover i {
  animation: shake 0.25s;
}
.icon--instagram:hover {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  outline-color: #a02d76;
}

.icon--linkedin:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
}
.icon--github:hover {
  background-color: #000;
  outline-color: #000;
}

@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
}

/* Botão whatsapp */
.btn-whatsapp {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  z-index: 99;
}

.btn-whatsapp img {
  width: 3.125rem;
  height: 3.125rem;
  transition: transform 0.5s;
}

.btn-whatsapp img:hover {
  cursor: pointer;
}

.btn-whatsapp::before,
.btn-whatsapp::after {
  content: "";
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  inset: -1.5625rem;
  border: .125rem solid #1ebea5;
  animation: animar 1.5s linear infinite;
  opacity: 0;
  pointer-events: none;
}

.btn-whatsapp::after {
  animation-delay: 0.5s;
}

@keyframes animar {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

/* Responsividade media query */
@media (max-width: 1200px) {
  section.module.parallax h1 {
    font-size: 3.75rem;
    font-weight: 700;
  }

  section.module.content h4 {
    font-size: .9375rem;
  }

  div.wrap {
    display: inline-block;
    margin: 3.75rem;
    margin-left: 4.375rem;
  }

  .card {
    margin: 0 auto;
  }

  div.btn-whatsapp img {
    width: 4.375rem;
  }
}

@media (max-width: 1024px) {
  div.wrap {
    display: inline-block;
    margin: 3.75rem;
    margin-left: 4.375rem;
  }

  .card {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  div.wrap {
    display: flex;
    align-items: center;
    margin: 3.125rem;
    margin-bottom: .625rem;
  }
}

@media (max-width: 480px) {
  section.module.parallax h1 {
    font-size: 3.125rem;
  }

  section.module h2 {
    font-size: 1.375rem;
  }

  section.module h4 {
    font-size: .875rem;
  }

  div.wrap {
    display: flex;
    justify-content: center;
  }

  div.card {
    margin: 0 auto;
    margin-right: 1.25rem;
  }

  div.btn-whatsapp img {
    width: 3.125rem;
  }
}

@media (max-width: 320px) {
  section.module.parallax h1 {
    font-size: 1.875rem;
  }

  section.module h2 {
    font-size: 1.375rem;
  }

  section.module.content h4 {
    font-size: .875rem;
  }

  div.wrap {
    display: flex;
    justify-content: center;
  }

  div.card {
    margin: 0 auto;
  }

  p.text-title {
    font-size: larger;
  }

  p.text-body {
    font-size: small;
  }

  div.btn-whatsapp img {
    width: 2.5rem;
  }
}

@media (max-width: 280px) {
  section.module h2 {
    font-size: 1.25rem;
  }

  section.module.content h4 {
    font-size: .75rem;
  }

  p.text-title {
    font-size: medium;
  }

  p.text-body {
    font-size: smaller;
  }

  div.btn-whatsapp img {
    width: 2.1875rem;
  }
}
